---
import { rewriteImageUrl } from '../../lib/image';

interface Props {
  image?: {
    sourceUrl: string;
    altText?: string;
  } | null;
}

const { image } = Astro.props;
---

<div>
  <img
    id="product-image"
    src={rewriteImageUrl(image?.sourceUrl)}
    alt={image?.altText || ''}
    class="w-full border border-(--color-border)"
    width="800"
    height="800"
  />
</div>